<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelf.com">
<head th:fragment="head">
    <meta charset="UTF-8">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/community.css">
</head>
<body>
<nav th:frament="nav">
    <div class="container-fluid" style="width: 80% ; background-color: #ffc624;color: white">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="color: white">rainbow</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" style="padding-left:400px ">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题"/>
                </div>
                <button type="submit" class="btn btn-default">提问</button>
            </form>
            <a href="/publish"  th:if="${session.user != null}">
                <button class="btn btn-default" style="margin-left: 80px;width: 100px;margin-top: 8px">发布</button>
            </a>
            <ul class="nav navbar-nav navbar-right" >

                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=7f42e4939e2024478664&rediect_url=http://localhost:9999/callback&scope=user&state=1">登录</a>
                </li>
                <li class="dropdown" th:if="${session.user != null}">
                    <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white">
                        <span th:text="${session.user.name}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/myself/question">我的问题</a></li>
                        <li><a href="/myself/replies">我的回复</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>