<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <head th:replace="import::head"></head>
</head>
<script type="application/javascript">
    window.onload = function () {
        var closable = window.localStorage.getItem("closable");
        if (closable == "true"){
            window.close();
            window.localStorage.removeItem("closable")
        }
    }
</script>
<body style="background-color: #f9f9f9">

<div th:replace="import::nav"></div>

<div class="container-fluid main" style="width: 80%; margin: auto;background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3 style="color: #ffc624"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
            <ul class="nav nav-tabs">
                <li role="presentation" th:class="${sort == 'new' || sort == '' ? 'active':''}">
                    <a th:href="@{/(sort='new')}">最新</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot30' ? 'active':''}">
                    <a th:href="@{/(sort='hot30')}">30天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot7' ? 'active':''}">
                    <a th:href="@{/(sort='hot7')}">7天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot' ? 'active':''}">
                    <a th:href="@{/(sort='hot')}">最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'no' ? 'active':''}">
                    <a th:href="@{/(sort='no')}" class="red">消灭零回复</a>
                </li>
            </ul>

            <div class="media" th:each="questionDto:${questionDtos}" >
                <div class="media-left">
                    <a href="#">
                        <img th:src="${questionDto.user.avatarUrl}" style="width: 78px;height: 78px" class="media-object img-rounded">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:text="${questionDto.title}" th:href="@{'/questiondetail/'+${questionDto.id}}"></a>
                    </h4>
                    <p th:text="${questionDto.description}"></p>
                    <span class="text-desc">
                        <span th:text="${questionDto.commentCount}"></span> 个回复 •
                        <span th:text="${questionDto.viewCount}"></span> 次浏览 •
                        <span th:text="${#dates.format(questionDto.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>热门标签</h4>
            </div>
        </div>
    </div>
</div>



</body>
</html>