<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelf.com">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <head th:replace="import::head"></head>
</head>
<body style="background-color: #f9f9f9">

<div th:replace="import::nav"></div>

<div class="container-fluid main profile" style="width: 80%;margin: auto;background-color: white;margin-top: 10px">
    <div class="row">

        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <h3 style="color: #ffc624" th:text="${title}"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> </h3>


            <div class="media" th:each="questionDto:${questionDtos}" >
                <div class="media-left">
                    <a href="#">
                        <img th:src="${questionDto.user.avatarUrl}" style="width: 78px;height: 78px" class="media-object img-rounded">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:text="${questionDto.title}" th:href="@{'/questiondetail/'+${questionDto.id}}">aaa</a>
                    </h4>
                    <p th:text="${questionDto.description}"></p>
                    <span class="text-desc">
                        <span th:text="${questionDto.commentCount}"></span> 个回复 •
                        <span th:text="${questionDto.viewCount}"></span> 次浏览 •
                        <span th:text="${#dates.format(questionDto.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>


        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="list-group section">
                    <a href="/myself/question"
                       th:class="${titleName == 'question'}? 'active list-group-item' : 'list-group-item'">我的问题</a>
                    <a href="/myself/replies"
                       th:class="${titleName == 'replies'}? 'active list-group-item' : 'list-group-item'">
                        最新回复
                        <span class="badge" >14</span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>