<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelf.com">
<head>
    <meta charset="UTF-8">
    <title>问题详情</title>
    <head th:replace="import::head"></head>
</head>
<body style="background-color: #f9f9f9">

<div th:replace="import::nav"></div>

<div class="container-fluid main profile" style="width: 80%;margin: auto;background-color: white;margin-top: 10px">
    <div class="row">

        <!--左边主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 th:text="${questionDto.title}" class="question-title"><span>标题</span></h3>
                <span class="text-desc">
                作者：<span th:text="${questionDto.user.name}" ></span> |
                发布时间：<span th:text="${#dates.format(questionDto.gmtCreate,'yyyy-MM-dd')}" ></span> |
                阅读数： <span  th:text="${questionDto.viewCount}"></span>
                </span>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <!--内容-->
                <div  th:text="${questionDto.description}"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                </div>

                <!--标签-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="question-tag" th:text="${questionDto.tag}">
                    </span>
                </div>

                <!--编辑-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a th:href="@{'/changequestion/'+${questionDto.id}}" class="community-menu"
                       th:if="${session.user != null && session.user.id == questionDto.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            </div>

            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-sp">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_section">
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <!--                                <img class="media-object img-rounded"-->
                                <!--                                     th:src="${session.user != null ? session.user.avatarUrl : '/images/default-avatar.png'}">-->
                            </a>
                        </div>
                        <div class="media-body">
                            <h5 class="media-heading">
                                <!--                                <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>-->
                            </h5>
                        </div>
                    </div>
                    <input type="hidden" id="question_id">
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <button type="button" class="btn btn-success btn-comment" onclick="post()">回复</button>
                </div>
            </div>

        </div>

        <!--右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>发起人</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${questionDto.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">
                            <span th:text="${questionDto.user.name}" style="color: #ff863c"></span>
                        </h5>
                    </div>
                </div>
            </div>
            <!--            <div th:insert="~{notice :: notice}"></div>-->
            <!--            <div th:insert="~{side :: side}"></div>-->
            <!--相关问题-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>相关问题</h4>
                <ul class="question-related">
                    <!--                    <li th:each="related : ${relatedQuestions}">-->
                    <!--                        <a th:href="@{'/question/'+ ${related.id}}" th:text="${related.title}"></a>-->
                    <!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</div>


</body>
</html>